<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="<%= meta_title %>">
    <meta name="description" content="<%= meta_description %>">
    <meta name="author" content="7alaWa7da">
    <meta name="keywords" content="7alaWa7da">
    <link rel="canonical" href="<%= meta_canonical_url %>" />
    <meta name="copyright" content="(c) Copyright 2012, 7alaWa7da. All Right reserved.">

    <link href="/stylesheets/bootstrap2.css" rel="stylesheet"  />
    <link href="/stylesheets/styles.css" rel="stylesheet"  />
    <title>Home - 7alaWa7da</title>
  </head>

  <body>

    <div class="header">
      <div class="container">
        <div class="row">
          <div class="span1">
            <h1><a href="/" class="logo">حالة واحدة</a></h1>
          </div>
          <div class="span5">
            <ul class="nav nav-pills">
              <li><a href="#"><%= t(:about_us) %></a></li>
              <li><a href="#"><%= t(:previous_cases) %></a></li>
              <li class="<%= params[:controller] == 'organizations' && params[:action] == 'index' ?
                'active' : '' %>">
                <a href="#"><%= t(:reg_orgs) %></a>
              </li>
            </ul>
          </div>
          <div class="span1">
            <a href="http://www.facebook.com/7alaWa7da" class="social facebook" title="Facebook">Facebook</a>
            <a href="#" class="social google" title="Google plus">Google plus</a>
            <a href="https://twitter.com/#!/7alaWa7da" class="social twitter" title="Twitter">Twitter</a>
          </div>
          <div class="span4 search">
            <p>إشترك معانا عشان توصلك آخر أخبار الحالات</p>
            <form class="form-inline">
              <input type="text" placeholder="بريدك الالكترونى" />
              <button class="btn btn-primary">اشترك</button>
            </form>
          </div>
        </div>
    
      </div>
    </div><!--end header-->


    <div class="content">
      <div class="container">
        <%= yield %>
      </div>
    </div><!--end contet-->


    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="span8 menu">
            <a href="#">الحالة السابقة</a>
            <a href="#">الحالة السابقة</a>
            <a href="#">الحالة السابقة</a>
          </div>
          <div class="span4 search">
            <p>إشترك معانا عشان توصلك آخر أخبار الحالات</p>
            <form class="form-inline">
              <input type="text" placeholder="بريدك الالكترونى" />
              <button class="btn btn-primary">اشترك</button>
            </form>
          </div>
        </div>
      </div>
    </div><!--end footer-->

    <%= raw google_analytics_js %>
  </body>
</html>
